<template>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">{{country}}</li>
      </ol>
   </nav>   
</template>
<script>
export default {
    props:["country"], 
}
</script>
<style scoped>

</style>