<template>
  <table id="news_table" class="display class_1">
    <thead>
      <tr>
        <th colspan="1">picture</th>
        <th colspan="5">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="n in newsart" v-bind:key="n.id" id="art">
        <td>
          <img class="card-img-top" v-bind:src="n.urlToImage" />
        </td>
        <table>
          <tr>
            <th>Title</th>
            <th></th>
            <th>author</th>
            <th>source name</th>
            <th>content</th>
            <th>read more</th>
          </tr>
          <tr>
            <td>{{n.title}}</td>
            <td>{{n.author}}</td>
            <td>{{n.author}}</td>
            <td>{{n.description}}</td>
            <td>
              <a v-bind:href="n.url">
                <p class="card-text">Read more</p>
              </a>
            </td>
          </tr>
        </table>
      </tr>
    </tbody>
  </table>
</template>
<script>
// import $ from "jquery";
import axios from 'axios'
export default {
  name: "newsArticles",
  props: ['country'],
  
  data() {
    return {
      status:null,
      newsart:[],
          }
  },
  created() {},
  watch:{
      country(){
          this.fetch (this.country);
      }
  },
  mounted () {
    axios
      .get('http://newsapi.org/v2/everything?q='+this.country+'&from=2020-02-15&sortBy=publishedAt&apiKey=cdf757a01f224b68a3198481e293ef6a')
      .then(response => {
          this.newsart = response.data.articles;
          this.status = response.data.status;
            setTimeout(function(){
                        // $('#news_table').DataTable();
                },400)
  }) 
},
    methods: {
     fetch (name) {
          
          if(name==undefined)
          {
            this.country='pakistan'
          alert(this.country) // someValue
          return 'pakistan'
          }
          else{
           this.country=name
          alert(this.country) // someValue
          axios
      .get('http://newsapi.org/v2/everything?q='+this.country+'&from=2020-02-15&sortBy=publishedAt&apiKey=cdf757a01f224b68a3198481e293ef6a')
      .then(response => (this.newsart = response.data.articles,this.status = response.data.status))
          }
          
          
      }
      
    
  },
};
</script>
<style scoped>
#art {
  border-color: white;
  border-style: solid;
}
</style>