<template>
<tbody >
    <tr>
        <td>Name</td>
        <td>Position</td>
        <td>Office</td>
        <td>Age</td>
        <td>Start date</td>
        <td>Salary</td>
    </tr>
</tbody>
</template>
<script>
export default {
    name:"tableRows",
    props:["newsart"], 
}
</script>
<style scoped>

</style>