<template>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">News Feed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline my-4 my-lg-0" >
      <input v-model="c_name" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button v-on:click="fetch()" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
    </div>
  </div>
        </nav>
</template>
<script>
export default {
    data(){
        return{
            c_name:'',
        }
    },
  methods:{
    fetch: function () {
     // alert(name)
      this.$emit('clicked', this.c_name)
     
    }
  }
    
}
</script>
<style scoped>

</style>