<template>
  <div id="app" class="container-fluid">
    <topnav @clicked="fetch"/>
    <breadcrum v-bind:country="country" />
    
    <div class="container">
      <div class="row">
      <news v-bind:newsArt="newsArt"  v-bind:country="country" />
      </div>
      <p v-if="newsArt.length">total articles = {{ newsArt.length }}</p>
    </div>
    <div>
      
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import news from './components/newsArticle.vue'
import topnav from  './components/topnav.vue'
import breadcrum from './components/breadcrum.vue'
// import tableRow from './components/tableRow.vue'

export default {
  name: 'App',
  components: {
     news,
    topnav,
    breadcrum,
    // tableRow
  
  },
  data() {
    return {
      newsArt:[],
      status:null,
      country:'pakistan',
      lenght:0
          }
  },
  mounted () {
    // axios
    //   .get('http://newsapi.org/v2/everything?q='+this.country+'&from=2020-02-15&sortBy=publishedAt&apiKey=cdf757a01f224b68a3198481e293ef6a')
    //   .then(response => (this.newsArt = response.data.articles,this.status = response.data.status))

    // axios
    //   .get('http://127.0.0.1/lumen/public/data')
    //   .then(response => {
    //     console.log(response);
    //   })
}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
